.location--grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 335px);
    gap: 26px;
    place-content: center;

  }
  
  .location-card ul, li, a {
    text-decoration: none;
    color: black;
  }
