<div class="show-mobile">
    <div class="menu">
        <h2>Rick and Morty</h2>
        <div>
            <button (click)="toogle()">
                <img src="./assets/svg/icon_menu.svg" alt="menu">
            </button>
        </div>
    </div>
    <div class="side-menu" [class.active]="showMenu">
        <button (click)="toogle()">Close</button>
        <ul>
            <li>
                <a routerLink="home">Characters</a>
            </li>
            <li>
                <a routerLink="location">Locations</a>
            </li>
            <li>
                <a routerLink="episode">Episodes</a>
            </li>
        </ul>
    </div>
</div>



<div class="nav">
    <nav>
        <h1>Rick and Morty</h1>
        <ul>
            <li>
                <a routerLink="home" routerLinkActive="active">Characters</a>
            </li>
            <li>
                <a routerLink="location" routerLinkActive="active">Locations</a>
            </li>
            <li>
                <a routerLink="episode" routerLinkActive="active">Episodes</a>
            </li>
        </ul>
    </nav>
</div>