.page-character {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 1200px;
    margin: 0 auto;
    .detail {
        width: 450px;
        .about-character {
            position: relative;
            display: flex;
            flex-direction: column;
        }
        h2,
        h1,
        p {
            margin: 0;
        }
    }
}

.btn-back {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    bottom: 0;
    right: 0;
    button {
        color: white;
        border: 1px solid white;
        background: rgb(9, 112, 180);
        padding: 10px 35px;
        border-radius: 7px;
        cursor: pointer;
    }
}


@media (max-width: 640px) {
    .page-character {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh;
        width: 100%;
        .detail {
            width: 90%
        }
    }
}
  